* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: #f2f2f2;
}
.form {
  background: white;
  width: 500px;
  padding: 25px;
  margin: 50px auto 0;
  border-top: 5px solid rgb(150, 150, 151);
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
}
.form__input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form {
  background-color: white;
}
